html {
    scroll-behavior: smooth;
}

a img {
    transition: scale 200ms ease-in-out;
}

a img:hover{
    scale: 1.1;
}

a {
    transition: color 200ms ease-in-out;
}

a:hover {
    color: var(--text-hover);
}


.accordion {
    background-color: var(--bg-accordion) !important;
    color: var(--text-accordion) !important;

    border-radius: 8px !important;
    border-style: none !important;
}

.accordion::before {
    display: none !important;
}