.page-container {
    padding: 8px;
    display: grid;
    gap: 4px;
    font-size: calc(10px + 2vmin);
    background-color: var(--bg-primary, white);
}

.page-header, .page-footer {
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
}

.page-header, .page-footer {
    box-shadow: 1px 1px 5px var(--shadow-primary, black);
}

.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--bg-header);
    z-index: 100;
}

.page-header header {
    display: flex;
    flex-direction: row;
}

.page-header a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-accent);
}

.page-content {
    color: var(--text-primary);
}

.page-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-navbar span {
    margin-left: 3px;
}

.page-navbar span:first-child::before {
    content: '|';
    margin-right: 3px;
}

.row-started, .row-centered {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.row-centered {
    align-items: center;
}

.row-started {
    justify-content: start;
}

.col-started {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}